<% @people.each do |persone| %>
<tr>
<td><%= link_to image_tag(persone.avatar.url(:thumb)), person_path(persone), remote: true %></td>
<% persone.attributes.each do |key,value| %>
<% if key=='Name' or key=='Last_Name' %>
<td><%= value %></td>
<% end %>
<% end %>
<td><%= link_to 'Edit', edit_person_path(persone), remote: true, class: "btn btn-default" %></td>
<td><%= link_to 'Delete', person_del_path(persone), remote: true, class: "btn btn-danger" %></td>
</tr>
<% end %>